* {
    margin: 0%;
    box-sizing: border-box;
}

.familie {
    display: flex;

    mather: {
        width: 100px;
        height: 100px;
        background-color: aqua;

        son: {
            width: 100px;
            height: 100px;
            background-color: rgb(207, 47, 159);

            girl: {
                width: 100px;
                height: 100px;
                background-color: aqua;
            }
        }
    }

    .father {
        width: 100px;
        height: 100px;
        background-color: black;

        sister: {
            width: 100px;
            height: 100px;
            background-color: rgb(170, 211, 36);
        }

        brother: {
            width: 100px;
            height: 100px;
            background-color: rgb(60, 224, 57);
        }
    }
}